<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control p-2" %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_text_area :description, class: "form-control p-2" %>
  </div>

  <div>
    <%= form.label :featured_image, style: "display: block; margin-top: 9px;" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
    <% if product.featured_image.attached? %>
    <div>
      <%= image_tag product.featured_image, class: "img-thumbnail mt-2", style: "max-width: 200px;" %>

    </div>
    <% end %>
  </div>

  <div>
    <%= form.label :inventory_count, class: "form-label" %>
    <%= form.number_field :inventory_count, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary my-3" %>
  </div>
<% end %>
